Amigos vão aqui!
<% %>
<% amigos.forEach(function(amigo){ %>
    <li><%= amigo %></li>
<% }); %>
<br>
<form action="/adicionaamigo" method="POST">
    <input type="text" name="novoamigo" placeholder="Nome">
    <button>Tenho um novo amigo!</button>
</form>